# Copy and paste this file in yt-app.
# Rename to .env

# API Keys
YT_DATA_API_KEY=
GOOGLE_AI_API_KEY=

# Database URL
POSTGRES_URL="postgresql://[USER]:[PASSWORD]@[HOST]:[PORT]/[DB_NAME]"

# Our API URL (for uploading)
API_URL=